body {
    background-color: black;
    color: white;
}

.search-box {
    margin: auto;
    width: 50%;
}
form{
    overflow: hidden;
}
input {
    float: right;
}
.submit-button {
    width: 100%;
    background-color: #faebd7;
    height: 35px;
    border-radius: 5px;
}